---
layout: base
---
<main class="container">
  <a class="back-link" href="{{ '/' | relative_url }}">&larr; Back to portfolio</a>
  <article class="prose">
    {{ content }}
  </article>
</main>

<!-- MathJax for project pages that contain equations -->
<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']]
    }
  };
</script>
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
